astroid==2.3.3
autopep8==1.5
click==7.1.1
colorama==0.4.3
cycler==0.10.0
Flask==1.1.2
Flask-Cors==3.0.8
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.2
opencv-python==4.2.0.32
py-eureka-client==0.7.4
pycodestyle==2.5.0
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
six==1.14.0
typed-ast==1.4.1
Werkzeug==1.0.1
wrapt==1.11.2
